*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Dark-blue: hsl(223, 47%, 23%);
    --Red-hat-display: 'Red Hat Display', sans-serif;
}
html{
    font-size: 62.5%;
}
main{
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 14% 7% 16% 7%;
    justify-content: center;
    background-color: var(--Pale-blue);
    background-image: url(./images/pattern-background-mobile.svg);
    background-size: 100vw;
    background-repeat: no-repeat;
    font-size: 1.6rem;
    font-family: var(--Red-hat-display);
}
.main-container{
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 565px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.main-container .image-container{
    width: 100%;
    max-height: 30%;
}
.main-container .image-container img{
    width: 100%;
    max-height: 100%;
}

.main-container .section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container .section h1{
    margin-top: 2.5rem;
    font-weight: 900;
    color: var(--Dark-blue);
    font-size: 2.2rem;
}
.main-container .section .section-paragraph{
    text-align: center;
    margin: 2.2rem 3rem 0 3rem;
    color: var(--Desaturated-blue);
    font-weight: 500;
    line-height: 1.5;
}
.main-container .section .section-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    margin-top: 25px;
    background-color: var(--Very-pale-blue);
    padding: 15px 0 15px 0;
    border-radius: 15px;
}
.section-content .section-content-elements{
    display: flex;
    align-items: center;
    width: 75%; 
}
.section-content-elements img, .section-content-elements div{
    font-size: 1.4rem;
    color: var(--Dark-blue);
    font-weight: 900;
    margin-left: 15px;
}
.section-content-elements div .text-price{
    color: var(--Desaturated-blue);
    font-weight: 500;
}
.main-container .section .section-content a{
    color: var(--Bright-blue);
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 20px;
}
.main-container .section .section-content a:hover{
    color: #7f40ff;
    text-decoration: none;
}
.main-container .section .section-button{
    margin-top: 2.5rem;
    width: 85%;
    padding: 14px 0 14px 0;
    background-color: var(--Bright-blue);
    color: white;
    font-weight: 900;
    font-family: var(--Red-hat-display);
    letter-spacing: 0.5px;
    border-radius: 10px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, var(--Bright-blue) 0px 8px 16px -8px;
}
.main-container .section .section-button:hover{
    background-color: #7f40ff;
    cursor: pointer;
}
.main-container .section .section-text-footer{
    margin-top: 2.5rem;
    color: var(--Desaturated-blue);
    font-weight: 900;
    font-size: 1.4rem;
    text-decoration: none;
}
.main-container .section .section-text-footer:hover{
    color: black;
}

/* Design for Desktop */

@media (min-width: 600px) {
    main{
        background-image: url(./images/pattern-background-desktop.svg);
        background-size: 100vw 45vh;
        padding: 6%;
    }
    .main-container{
        min-width: 400px;
        min-height: 625px;
    }
    .main-container .section h1{
        margin-top: 40px;
    }
    .main-container .section .section-content{
        padding: 20px 0 20px 0;    
    }
    .section-content .section-content-elements{
        margin-right: 10px;
    }
    .main-container .section .section-text-footer{
        margin-top: 30px;
    }
    .main-container .section .section-button{
        padding: 17px 0 17px 0;
    }
}